<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletCorrida</servlet-name>
        <servlet-class>br.com.testweb.servlets.ServletCorrida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMotorista</servlet-name>
        <servlet-class>br.com.testweb.servlets.ServletMotorista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPassageiro</servlet-name>
        <servlet-class>br.com.testweb.servlets.ServletPassageiro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrincipal</servlet-name>
        <servlet-class>br.com.testweb.servlets.ServletPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>br.com.testweb.servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCorrida</servlet-name>
        <url-pattern>/cadastrar_corrida</url-pattern>
        <url-pattern>/listar_corridas</url-pattern>
        <url-pattern>/corrida_cadastrar</url-pattern>        
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMotorista</servlet-name>
        <url-pattern>/cadastrar_motorista</url-pattern>
        <url-pattern>/editar_motorista</url-pattern>
        <url-pattern>/listar_motoristas</url-pattern>
        <url-pattern>/motorista_cadastrar</url-pattern>
        <url-pattern>/motorista_alterar</url-pattern>
        <url-pattern>/motorista_atualizar</url-pattern>
        <url-pattern>/motorista_excluir</url-pattern>        
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPassageiro</servlet-name>
        <url-pattern>/cadastrar_passageiro</url-pattern>
        <url-pattern>/editar_passageiro</url-pattern>
        <url-pattern>/listar_passageiros</url-pattern>
        <url-pattern>/passageiro_cadastrar</url-pattern>
        <url-pattern>/passageiro_alterar</url-pattern>
        <url-pattern>/passageiro_atualizar</url-pattern>
        <url-pattern>/passageiro_excluir</url-pattern>        
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrincipal</servlet-name>        
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/home</url-pattern>
        <url-pattern>/success</url-pattern>
        <url-pattern>/error</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/menu_cadastro_de_corridas</url-pattern>
        <url-pattern>/menu_cadastro_de_clientes</url-pattern>
        <url-pattern>/menu_lista_de_clientes</url-pattern>        
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
